<h1>カード編集</h1>
<%= form_with(@card, url: {controller: 'cards', action: 'update'}) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :memo %>
    <%= f.text_field %>
    <%= f.submit '更新' %>
<% end %>