<h1>カード作成</h1>
<%= form_for(@card) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :memo %>
    <%= f.text_field :memo %>
    <%= f.hidden_field :list_id, value: @list.id %>
    <%= f.submit '作成' %>
<% end %>